<form action="" method="get">
    <div>
        <label for="category">Category:</label>
        <select name="" id="">
            <option value="all" selected>All</option>
            <option value="Sponsored_Content">Sponsored Content</option>
            <option value="Product_Review">Product Reviews</option>
            <option value="Giveaway_and_contests">Giveaways and Contests</option>
            <option value="Affiliate_Marketing">Affiliate Marketing</option>
            <option value="Brand_Ambassadorship">Brand Ambassadorships</option>
            <option value="Event_Hosting_and_Participation">Event Hosting and Participation</option>
            <option value="Content_Creation">Content Creation</option>
            <option value="Collaborative_Products">Collaborative Products</option>
            <option value="Social_Media_Challenges">Social Media Challenges</option>
            <option value="Interviews_and_Features">Interviews and Features</option>
            <option value="Educational_Content">Educational Content</option>
            <option value="Collaborative_Live_Streams">Collaborative Live Streams</option>
        </select>
        <input type="text" name="search" id="search" class="form-control" placeholder="Search" value="{{search_query}}">
        <button class="btn btn-outline-primary" type="submit" id="search">Search</button>
    </div>
</form>