{% extends 'layout.html' %}
{% block body %}
<div class="navbar">
    <div style="margin-left: 10px;">
        <img class="roundimage" src="https://api.dicebear.com/9.x/thumbs/svg?seed=Mimi">
        <h5 style="display: inline;">{{ admin.username }}</h5>
    </div>
    <a href="{{url_for('find_influencersforadmin', id=admin.id)}}"><i class="fa-solid fa-magnifying-glass"></i> Influencers</a>
    <a href="{{url_for('home')}}"><i class="fa-solid fa-house-user"></i> Home</a>
    <a href="{{url_for('find_sponsorsforadmin', id=admin.id)}}"><i class="fa-solid fa-magnifying-glass"></i> Sponsors</a>
    {% if 'username' in session %}
    <a href="{{url_for('logout')}}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a>
    {% else %}
    <a href="{{url_for('login')}}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    {% endif %}
</div>
{% include 'message.html' %}
<div class="container">
    <div>
        <p style="font-size: xx-large; font-style: italic;"><strong>{{ campaign.typeofcampaign}}</strong></p>
        <p>✓ <b>{{ campaign.description }}</b></p>
        <p>✓ <b>{{ campaign.goals }}</b></p>
    </div>
    <p><strong>Budget : </strong>{{campaign.budget}}</p>
    <p><strong>Intended Audience : </strong>{{campaign.audience}}</p>
    <p><strong>Campaign Mode :</strong>{{campaign.communication}}</p>
    <div style="display: flex; justify-content: space-between; width: 40%;">
        <p><b>created on : </b>{{campaign.created_on.strftime('%B %d, %Y')}}</p>
        <p><b>deadline : </b>{{campaign.deadline.strftime('%B %d, %Y')}}</p>
    </div>
</div>
<div class="container">
    <h4 style="margin-left: 10px; margin-bottom: 15px;">Influencers's Engaged 😀</h4>
    {% if ongoing_events %}
    <table>
        <tr>
            <th>INFLUENCER</th>
            <th>PROGRESS BAR</th>
        </tr>
    {% for event in ongoing_events %}
        <tr>
            <td><a href="{{url_for('influencerprofileforadmin', id=admin.id, influencer_id=event.influencer.id)}}"><b>{{event.influencer.username}}</b></a></td>
            <td><progress style="background-color: rgb(42, 91, 165); margin-top: 5px;" max="100" value="{{event.progress}}"></progress></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No influencers have currently joined the contest !</p>
    {% endif %}
</div>
{% endblock body %}