{% extends 'layout.html' %}
{% block title %}completed campaigns{% endblock title %}
{% block body %}
<div class="navbar">
    <div>
        {% if influencer.profilepic %}
        {% set filename = influencer.username + influencer.file_extension %}
        <a style="display: inline;" class="no-hover" href="{{url_for('influencer_myprofile', id=influencer.id)}}"><img class="roundimage" src="{{url_for('static', filename='profilepics/' + filename)}}"></a>
        {% else %}
        <a style="display: inline;" class="no-hover" href="{{url_for('influencer_myprofile', id=influencer.id)}}"><img class="roundimage" src="https://api.dicebear.com/9.x/thumbs/svg?seed=Mimi"></a>
        {% endif %}
        <h5 style="display: inline;">{{ influencer.username }}</h5>
    </div>
    <a href="{{url_for('home')}}"><i class="fa-solid fa-house-user"></i>Home</a>
    <a href="{{ url_for('influencer_find_campaign', id=influencer.id )}}"><i class="fa-solid fa-magnifying-glass"></i> Campaigns</a>
    {% if 'username' in session %}
    <a href="{{url_for('logout')}}"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
    {% else %}
    <a href="{{url_for('login')}}"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
    {% endif %}
</div>
{% include 'message.html' %}
<div class="content">
    <div class="container" style="margin-top: 10px;">
        <h4 style="margin-left: 10px; margin-bottom: 15px;">Completed Campaign's 😀</h4>
        {% if completedcampaigns %}
        <table>
            <tr>
                <th>CAMPAIGN NAME</th>
                <th>SPONSOR</th>
                <th>TYPE</th>
                <th>COMPLETE DATE</th>
                <th>BUDGET</th>
                <th>PAYMENT STATUS</th>
                <th>LIKE</th>
            </tr>
        {% for campaign in completedcampaigns %}
            <tr>
                <td><a href="{{url_for('campaign', cmpid=campaign.campaign_id, infid=campaign.influencer_id)}}"><b>{{ campaign.campaign.name }}</b></a></td>
                <td>{{ campaign.campaign.sponsor.username }}</td>
                <td>{{ campaign.campaign.typeofcampaign }}</td>
                <td>{{ campaign.completeddate.strftime('%B %d, %Y') }}</td>
                <td><b>{{ campaign.budget }} ₹</b></td>
                {% if campaign.payment_status %}
                <td style="color: green;">Payment completed</td>
                {% else %}
                <td style="color: red;">Pending</td>
                {% endif %}
                <td><i style="background-color: red; margin-left: 5px;" class="fa-regular fa-heart"></i></td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
        <p style="margin-left: 10px;">You have Not completed any campaign yet!<p>
        {% endif %}
    </div>
</div>
{% endblock body %}