{% extends 'layout.html' %}
{% block title %}statistics{% endblock title %}
{% block body %}
<div class="navbar">
    <div>
        {% if sponsor.profilepic %}
        {% set filename = sponsor.username + sponsor.file_extension %}
        <a style="display: inline;" class="no-hover" href="{{url_for('sponsor_myprofile', id=sponsor.id)}}"><img class="roundimage" src="{{url_for('static', filename='profilepics/' + filename)}}"></a>
        {% else %}
        <a style="display: inline;" class="no-hover" href="{{url_for('sponsor_myprofile', id=sponsor.id)}}"><img class="roundimage" src="https://api.dicebear.com/9.x/thumbs/svg?seed=Mimi"></a>
        {% endif %}
        <h5 style="display: inline;">{{ sponsor.username }}</h5>
    </div>
    <a href="{{url_for('home')}}"><i class="fa-solid fa-house-user"></i> Home</a>
    <a href="{{url_for('sponsor_mycampaigns', id=sponsor.id)}}"><i class="fa-solid fa-globe"></i> My Campaigns</a>
    {% if 'username' in session %}
    <a href="{{url_for('logout')}}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a>
    {% else %}
    <a href="{{url_for('login')}}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    {% endif %}
</div>
{% include 'message.html' %}
<div class="content">
    <div style="margin-left: 240px; width: 700px; height: 700px;">
        {% if tc_type_data['data'] %}
        <h5 style="text-align: center;">Total Campaigns Created : {{ total_campaigns | length }}</h5>
        <canvas id="mytcChart"></canvas><hr>
        {% else %}
        <p style="text-align: center;">No campaigns created to show Graph! </p>
        {% endif %}
        {% if cc_type_data['data'] %}
        <h5 style="text-align: center;">Total Campaigns Completed : {{ total_campaigns_completed | length }}</h5>
        <canvas id="myccChart"></canvas><hr>
        {% else %}
        <p style="text-align: center;">No completed campaigns to show this Graph! </p>
        {% endif %}
    </div>
</div>
{% endblock body %}
{% block script%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctc = document.getElementById('mytcChart');
const tlabels = {{ tc_type_data['labels'] | tojson }};
const tdata = {{ tc_type_data['data'] | tojson }};

new Chart(ctc, {
type: 'bar',
data: {
    labels: tlabels,
    datasets: [{
    label: '# of Campaigns',
    data: tdata,
    borderWidth: 1
    }]
},
options: {
    scales: {
    y: {
        beginAtZero: true
    }
    }
}
});

const ccc = document.getElementById('myccChart');
const clabels = {{ cc_type_data['labels'] | tojson }};
const cdata = {{ cc_type_data['data'] | tojson }};

new Chart(ccc, {
type: 'bar',
data: {
    labels: clabels,
    datasets: [{
    label: '# of Completed Campaigns',
    data: cdata,
    borderWidth: 1
    }]
},
options: {
    scales: {
    y: {
        beginAtZero: true
    }
    }
}
});
</script>
{% endblock script %}
